* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #d3d3d3;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #722F37;
    color: white;
}

#header-content {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


#header-content .menu {
    display: none;
}

.header-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(212, 203, 203);
}

.header-left span {
    display: inline-block;
    transform: translateX(-24px);
}

.header-left img {
    width: 130px;
}

.header-mid nav ul {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.header-mid nav ul li:hover {
    color: rgb(211, 146, 146);
}

.header-rigth {
    display: flex;
}

.header-rigth .input {
    height: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;

    background-color: #ac616a;
    border-radius: 5px;
}


.header-rigth .input .search {
    height: inherit;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.header-rigth .input .search::placeholder {
    color: #fff;
}

.header-rigth a {
    font-size: 20px;
    padding: 15px 5px;
}

.header-rigth p {
    font-weight: 600;
    font-size: 17px;
}

.header-rigth img {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
    max-width: 100%;
    height: auto;
}

#home {
    display: flex;

    max-width: 1200px;
    margin: 0 auto;
}

#home .home-left {
    position: relative;
    padding: 100px;
    background-color: #c7c1c1;
    flex: 1;
    font-weight: 500;
    font-size: 21.5px;
}

.home-left h1 {
    font-size: 70px;
    margin-bottom: 3px;
}

.home-left p {
    font-weight: 600;
    margin-top: 9px;
}

.home-top {
    margin-top: -35px;
}

.home-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.home-rigth {
    margin-top: 20px;
    margin-left: 550px;
    flex: 1;
    position: absolute;
    z-index: 1;
    color: white;
}

.home-rigth img {
    width: 850px;
    max-width: 100%;
    height: auto;
}

#products {
    background-color: rgb(230, 217, 217);
}

.products-top {
    margin-top: 140px;
}

.products-top h2 {
    padding-left: 100px;
    padding-top: 50px;
}

.products-sample {
    display: flex;
    position: relative;
    width: 100%;
    height: 800px;
}

.RTX3050 {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 100px;
    width: 200px;
    height: 400px;
    background-color: white;
    padding: 20px;
}

.RTX3050 span {
    color: rgb(30, 30, 243);
}

.RTX3050 img {
    width: 200px;
    max-width: 100%;
    height: auto;
}


@media(max-width: 767px) {
    header {
        width: 100%;
    }

    header #header-content {
        max-width: 100%;
        padding: 0 32px;
    }

    #header-content .header-mid nav {
        display: none;
    }

    #header-content .header-rigth {
        display: none;
    }

    #header-content .menu {
        display: flex;
    }
}