* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #d3d3d3;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #722F37;
    color: white;
}

#header-content {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


#header-content .menu {
    display: none;
}

.header-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -40px;
    font-size: 25px;
    color: rgb(212, 203, 203);
}

.header-left span {
    display: inline-block;
    transform: translateX(-5px);
}

.header-left img {
    width: 80px;
}

.header-mid nav ul {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.header-mid nav ul a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.header-mid nav ul li:hover {
    color: rgb(211, 146, 146);
}

.header-rigth {
    display: flex;
}

.header-rigth .input {
    height: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    background-color: #ac616a;
    border-radius: 5px;
}


.header-rigth .input .search {
    height: inherit;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.header-rigth .input .search::placeholder {
    color: #fff;
}

.header-rigth a {
    font-size: 20px;
    padding: 15px 5px;
}

.header-rigth p {
    font-weight: 600;
    font-size: 17px;
}

.header-rigth img {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
    max-width: 100%;
    height: auto;
}

#home {
    display: flex;
}

#home .home-left {
    padding: 130px;
    background-color: #c7c1c1;
    flex: 1;
    font-weight: 500;
    font-size: 21.5px;
}

.home-left h1 {
    font-size: 70px;
    margin-bottom: 3px;
}

.home-left p {
    font-weight: 600;
    margin-top: 9px;
}

.home-top {
    margin-top: -35px;
}

.home-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.home-rigth {
    margin-top: 20px;
    margin-left: 550px;
    flex: 1;
    position: absolute;
    z-index: 1;
    color: white;
}

.home-rigth img {
    width: 850px;
    max-width: 100%;
    height: auto;
}

#products {
    background-color: rgb(230, 217, 217);
}

.products-top {
    margin-top: 140px;
}

.products-top h2 {
    padding-left: 100px;
    padding-top: 50px;
}

.products-sample {
    display: flex;
    position: relative;
    width: 100%;
    height: 1000px;
}

.RTX3050 {
    transition: 0.3s;
}

.RTX3050:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.RTX3050 {
    position: absolute;
    cursor: pointer;
    top: 50px;
    border-radius: 8px;
    left: 100px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.RTX3050 span {
    display: flex;
    margin-top: 10px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.RTX3050 p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.RTX3050 img {
    width: 200px;
    max-width: 100%;
    height: auto;
}




.B550M {
    transition: 0.3s;
}

.B550M:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.B550M {
    position: absolute;
    cursor: pointer;
    top: 50px;
    border-radius: 8px;
    left: 350px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.B550M p:first-of-type {
    display: flex;
    margin-top: 33px;
}

.B550M span {
    display: flex;
    margin-top: 13px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.B550M p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.B550M img {
    display: flex;
    margin-top: 30px;
    width: 400px;
    max-width: 100%;
    height: auto;
}




.RYZEN75700X {
    transition: 0.3s;
}

.RYZEN75700X:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.RYZEN75700X {
    position: absolute;
    cursor: pointer;
    top: 50px;
    border-radius: 8px;
    left: 600px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.RYZEN75700X span {
    display: flex;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.RYZEN75700X p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.RYZEN75700X img {
    width: 147px;
    max-width: 100%;
}




.RAM {
    transition: 0.3s;
}

.RAM:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.RAM {
    position: absolute;
    cursor: pointer;
    top: 50px;
    border-radius: 8px;
    left: 850px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.RAM p:first-of-type {
    display: flex;
    margin-top: 37px;
}

.RAM span {
    display: flex;
    margin-top: 16px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.RAM p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.RAM img {
    display: flex;
    margin-top: 41px;
    width: 147px;
    max-width: 100%;
    height: auto;
}




.AIRCOOLER {
    transition: 0.3s;
}

.AIRCOOLER:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.AIRCOOLER {
    position: absolute;
    cursor: pointer;
    top: 50px;
    border-radius: 8px;
    left: 1100px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.AIRCOOLER span {
    display: flex;
    margin-top: 1px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.AIRCOOLER p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.AIRCOOLER img {
    width: 150px;
    max-width: 100%;
    height: auto;
}





.products-mid {
    display: flex;
    position: relative;
    width: 100%;
}


.FONTE {
    transition: 0.3s;
}

.FONTE:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.FONTE {
    position: absolute;
    cursor: pointer;
    top: -480px;
    border-radius: 8px;
    left: 100px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.FONTE span {
    display: flex;
    margin-top: 3px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.FONTE p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.FONTE img {
    width: 200px;
    max-width: 100%;
    height: auto;
}




.GABINETE {
    transition: 0.3s;
}

.GABINETE:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.GABINETE {
    position: absolute;
    cursor: pointer;
    top: -480px;
    border-radius: 8px;
    left: 350px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.GABINETE span {
    display: flex;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.GABINETE p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.GABINETE img {
    width: 400px;
    max-width: 100%;
    height: auto;
}




.MONITOR {
    transition: 0.3s;
}

.MONITOR:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.MONITOR {
    position: absolute;
    cursor: pointer;
    top: -480px;
    border-radius: 8px;
    left: 600px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.MONITOR span {
    display: flex;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.MONITOR p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.MONITOR img {
    display: flex;
    margin-top: 15px;
    width: 400px;
    max-width: 100%;
    height: auto;
}




.TECLADO {
    transition: 0.3s;
}

.TECLADO:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.TECLADO {
    position: absolute;
    cursor: pointer;
    top: -480px;
    border-radius: 8px;
    left: 850px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.TECLADO p:first-of-type {
    display: flex;
    margin-top: 18px;
}

.TECLADO span {
    display: flex;
    margin-top: 3px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.TECLADO p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.TECLADO img {
    display: flex;
    margin-top: 40px;
    width: 200px;
    max-width: 100%;
    height: auto;
}




.MOUSE {
    transition: 0.3s;
}

.MOUSE:hover {
    box-shadow: 0 5px 15px;
    transform: translateY(-5px);
}

.MOUSE {
    position: absolute;
    cursor: pointer;
    top: -480px;
    border-radius: 8px;
    left: 1100px;
    width: 200px;
    height: 400px;
    background-color: #c7c1c1;
    color: black;
    padding: 20px;
}

.MOUSE span {
    display: flex;
    margin-top: 5px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(30, 30, 243);
}

.MOUSE p:last-child {
    display: flex;
    margin-top: 5px;
    color: green;
}

.MOUSE img {
    width: 200px;
    max-width: 100%;
    height: auto;
}



#about {
    display: flex;
    text-align: center;
    font-size: 17px;
    gap: 40px;
    flex-direction: column;
    margin-top: 100px;
}

.about-top {
    font-size: 30px;
    color: rgb(51, 51, 235);
}

.about-mid {
    font-size: 20px;
    padding: 0 110px;
}



#footer-section {
    display: flex;
    margin-top: 50px;
    background-color: #722F37;
}

footer {
    display: flex;
    gap: 30px;
    color: white;
    height: 150px;
    padding: 20px;
}

.footer1 {
    padding-left: 40px;
}

@media(max-width: 767px) {
    header {
        width: 100%;
    }

    header #header-content {
        max-width: 100%;
        padding: 0 32px;
    }

    #header-content .header-mid nav {
        display: none;
    }

    #header-content .header-rigth {
        display: none;
    }

    #header-content .menu {
        display: flex;
    }
}