* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    min-height: 150vh;
    color: rgb(207, 205, 205);
    background-color: #332f2f;
    overflow-x: hidden;
}



header {
    width: 100vw;
    height: 80px;
    background-color: #330b0f;
    color: white;
}

#header-content {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


#header-content .menu {
    display: none;
}

.header-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -40px;
    font-size: 25px;
    color: rgb(212, 203, 203);
}

.header-left span {
    display: inline-block;
    transform: translateX(-5px);
}

.header-left img {
    width: 80px;
}

.header-rigth {
    display: flex;
}

.header-rigth .input {
    height: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 40px;
    background-color: #ac616a;
    border-radius: 5px;
}

.header-rigth span {
    margin-right: 200px;
}

.header-rigth .input .search {
    height: inherit;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.header-rigth .input .search::placeholder {
    color: #fff;
}

.header-rigth a {
    font-size: 20px;
    padding: 15px 5px;
}

.header-rigth p {
    font-weight: 600;
    font-size: 17px;
}

.header-rigth img {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
    max-width: 100%;
    height: auto;
}



.mid {
    display: flex;
    gap: 110px;
    margin-left: 25px;
    margin-top: 50px;
}

.mid img {
    width: 550px;
    margin-top: 20px;
}

.mid-rigth {
    font-size: 40px;
    margin-top: 50px;
}

.mid-rigth1 p:first-of-type {
    color: green;
}

.mid-rigth1 {
    font-size: 25px;
    position: relative;
}

.p1, .p2 {
    display: block;
}

.p3 {
    position: absolute;
    top: 10px;
    left: 350px;
}

.mid-rigth2 {
    display: flex;
    font-weight: 700;
    gap: 120px;
    margin-top: 70px;
    font-size: 50px;
}

.mid-rigth2 span {
    color: rgb(19, 19, 228);
}

.mid-rigth2 p {
    font-weight: 900;
    font-size: 20px;
}

.mid-rigth2 a {
    color: red;
}

.mid-rigth3 {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    color: green;
}

.mid-rigth3 button {
    color: white;
    background-color: green;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    border-radius: 8px;
    font-weight: 800;padding: 12px 25px;
    font-size: 50px;
}

.mid-rigth3 button:hover {
    background-color: rgb(3, 61, 3);
}


.information h3 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.inform {
    display: flex;
    padding: 20px 300px;
    gap: 300px;
}


#footer-section {
    display: flex;
    margin-top: 50px;
    background-color: #722F37;
}

footer {
    display: flex;
    gap: 30px;
    color: white;
    height: 150px;
    padding: 20px;
}

.footer1 {
    padding-left: 40px;
}